{% extends 'ImagesApp/layouts/main.html' %}
{% block title  %}    
<title>Home</title>
{% endblock title  %}

{% block content  %}
{% include 'ImagesApp/include/slider.html' %}
<div class="container">
    <div class="row">
        <div class="col-12 py-5">
            <p>
                An Image Gallery app is a web application that allows users to upload, organize, and view images in a visually appealing and user-friendly manner. 
                It provides features such as image uploading, categorization, searching, and viewing.
                With the increasing popularity of digital photography and the proliferation of smartphones equipped with high-resolution cameras, image gallery applications have become an essential part of our lives. 
                These applications provide a visually appealing and intuitive interface where users can store, sort, and categorize their photos for easy access and sharing. 
            </p>
        </div>
    </div>
</div>    
{% endblock content  %}
    