{% extends 'ToDoList/layouts/main.html' %}
{% block title %}
<title>To Do Item</title>
{% endblock title %}

{% block content %}
<div class="container" style="margin:5%;">
    <div class="row">
        <div class="col-12">
            <h1>
                ToDo Item
            </h1>
            <hr style="border: color #b8bfc2;">
            {% include "ToDoList/include/message.html" %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <section class="py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <form action="" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="todolist_id" name="todolist_id" value="{{todolist_id}}">
                                <div class="mb-4">
                                    <label for="" class="form-label">Title</label>
                                    <input type="text" name="title" id="title" required placeholder="Enter title for List"
                                        class="form-control">
                                </div>
                                <div class="mb-4">
                                    <label for="" class="form-label">Description</label>
                                    <textarea name="description" id="description" required placeholder="Enter Description"
                                        class="form-control" style="resize:none;"></textarea>
                                </div>
                                <div class="mb-4">
                                    <label for="" class="form-label">Due Date</label>
                                    <input type="date" name="due_date" id="due_date" required placeholder="Enter Due Date"
                                        class="form-control">
                                </div>
                                <div class="custom-control custom-checkbox mb-4">
                                    <input type="checkbox" class="custom-control-input" id="is_completed" name="is_completed">
                                    <label class="custom-control-label" for="is_completed">Completed</label>
                                </div>
                                <button type="submit" class="btn btn-primary">Add Item</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-7">
            <section class="py-5">
                <div class="container">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Due Date</th>
                            <th scope="col">Created At</th>
                            <th scope="col">ToDo List</th>
                            <th scope="col">Completed</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% if items %}
                            {% for item in items %} 
                          <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td><a href="{% url 'todo-list'  %}">{{item.title}}</a></td>
                            <td>{{item.description}}</td>
                            <td>{{item.due_date}}</td>
                            <td>{{item.created_at}}</td>
                            <td>{{item.todo_list}}</td>
                            {% if item.is_completed == True %}
                            <td class="field-is_staff"><img src="/static/admin/img/icon-yes.svg" alt="item.is_completed "></td>
                            {% else %}
                            <td class="field-is_staff"><img src="/static/admin/img/icon-no.svg" alt="item.is_completed "></td>
                            {% endif %}                          
                            <td>
                                <a href="#"> Edit </a> | 
                                <a href="#" onclick="confirm_delete('{{item.id }}','{{todolist_id}}')"> Delete</a>
                            </td>
                        </tr>
                          {% endfor %}
                          {% else %}
                          <tr> <td colspan="7" class="text-center"> No items found </td></tr>
                          {% endif %}
                        </tbody>
                    </table>                    
                </div>
            </section>
        </div>
        <!-- <nav class="mt-4" aria-label="Page navigation sample">
            {% if items.has_other_pages %}
          <ul class="pagination">
            {% if items.has_previous %}
                <li class="page-item "><a class="page-link" href="?page={{items.previous_page_number}}">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            {% endif %}
            {% for i in items.paginator.page_range %}
                {% if items.number == i %}
                    <li class="page-item disabled"><a class="page-link" href="#">{{i}}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %}
            {% endfor %}
            {% if items.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{items.next_page_number}}">Next</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
            {% endif %}
          </ul>
          {% endif %}
        </nav> -->

    </div>
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript"> 
    function confirm_delete(item_id, todolist_id){
        var url = encodeURI("{ url 'delete-item' " + item_id +" " + todolist_id +" %}")
        console.log(url)
        if(confirm('Are you sure want to delete?')){
            window.location.href = url;
        }
        else{
            return 
        }        
    }
</script>

{% endblock scripts %}