@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

.carosuel-item img {
    object-fit: cover;
    object-position: top;
    height: 40vh;
    overflow: hidden;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Nato Sans', sans-serif; 
}

a {
    text-decoration: none;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100% !important;
    height: 30px; /* Adjust height as needed */
    background-color: #f8f9fa; /* Example background color */
    margin-top: 10px;
    
  }