    <section class="py-5">
        <div class="container">
            <div> Records found: {{count}}</div>
            <table class="table table-bordered" aria-label="todo-list">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                {% if listobj %}
                {% for obj in listobj %}
                  <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td><a href="{% url 'todo-item' obj.id %}">{{obj.title}}</a></td>
                    <td>{{obj.description}}</td>
                    <td>{{ obj.created_at}}</td>
                    <td>
                        <a href="{% url 'edit-list' obj.id %}"> Edit </a> |
                        <a href="#" onclick="confirm_delete('{{obj.id}}')">Delete</a>
                    </td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr> <td colspan="4" class="text-center"> No items found </td></tr>
                  {% endif %}
                </tbody>
              </table>
        </div>
    </section> 